# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradle.properties

# FML Stuff
CREDITS-fml.txt
forge-1.9.4-12.17.0.1976-changelog.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt